.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #edf2f8;
  transition: background 1s;

  h2 {
    color: steelblue
  }

  .bio {
    width: 60vw;
      p {
        color: rgb(172, 169, 169);
      }
  }

  a {
    text-decoration: none;
    color: steelblue;
    cursor: pointer;
    transition: all 1s ease;

    &:hover{
      transform: scale(1.3);
      color: #9eb0c7;
      transition: all 1s ease;
      border-bottom: solid;
    }
  }

  &.dark {
    transition: background 1s;
    background-color: #181818;
    color: #ffffff
  }

}



.tagcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: steelblue
}

.tagcloud--item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white
}


@media (max-width: 1000px) {

  .about{
    flex-direction: column;
  }

  .about_text {
    margin: 0%;
  }

  .about_container{
    flex-direction: column-reverse;
    width: 100vw;
  }

}

@media screen and (max-width: 450px) {

  .about {
    height: 100vh;
  }
  .about_container {
    height: fit-content;
    width: 100vw;
    &.dark {
      width: 100vw;
    }
  }

  .about_content {
    height: fit-content;
    width: 100vw;


  }

  .about_text {
    width: 85vw;

    &.header {
      display: flex;
      justify-content: center;
    }

    &.content {
      justify-content: center;
      align-items: center;
    }
  }
}