.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  background-color: #edf2f8;
  transition: background 1s;

  h2 {
    color: steelblue
  }


  a {
    text-decoration: none;
    color: steelblue;
    cursor: pointer;
    transition: all 1s ease;

    &:hover{
      transform: scale(1.3);
      color: #9eb0c7;
      transition: all 1s ease;
      border-bottom: solid;
    }
  }

  &.dark {
    transition: background 1s;
    background-color: #181818;
    color: #ffffff
  }

}

  .about_container_bio {
    width: 60vw;
    color: rgb(138, 136, 136);

    &.dark {
    transition: background 1s;
    background-color: #181818;
    color: #ffffff
  }

  p {
  line-height: 1.5;
    }
  }

  .about_container_badges{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60vw;
    & img {
      margin: 0.5em;
    }
  }


.tagcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: steelblue
}

.tagcloud--item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white
}


@media screen and (max-width: 450px) {

  .about {
    height: 100vh;
  }
  .about_container {
    height: fit-content;
    width: 100vw;
    &.dark {
      width: 100vw;
    }
  }

  .about_content {
    height: fit-content;
    width: 100vw;


  }

  .about_text {
    width: 85vw;

    &.header {
      display: flex;
      justify-content: center;
    }

    &.content {
      justify-content: center;
      align-items: center;
    }
  }
}