.about {
  display: flex;
  margin: 0;
  display: flex;
  align-items: center; /* y-axis/cross-axis*/
  height: 100vh;
  width: 100vw;
  background-color: #edf2f8;
  transition: background 1s;

  &.dark {
    background-color: #181818;
    transition: background 1s;
  }
}

.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #edf2f8;
  transition: background 1s;

  &.dark {
    transition: background 1s;
    background-color: #181818;
    color: #ffffff
  }

}

.about_content {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 100vh;

  a {
    text-decoration: none;
    color: steelblue;
    cursor: pointer;
    transition: all 1s ease;

    &:hover{
      transform: scale(1.3);
      color: #9eb0c7;
      transition: all 1s ease;
      border-bottom: solid;
    }
  }
}

.about_text {
  margin: 1em;
  // border: solid;
  width: 40vw;

  &.header {
    font-size: 7vh;
    font-weight: 800;
    color: steelblue;
    transition: 1s;

    &:hover {
      transform: scale(1.1);
      color: #9eb0c7;
      transition: 1s;
    }

  }

  &.content {
    color:rgb(178, 190, 181);
    font-size: large;
    // p {
    //   width: 100%
    // }
  }
}

.tagcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: steelblue
}

.tagcloud--item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white
}


@media (max-width: 1000px) {

  .about{
    flex-direction: column;
  }

  .about_text {
    margin: 0%;
  }

  .about_container{
    flex-direction: column-reverse;
    width: 100vw;
  }

}

@media screen and (max-width: 450px) {

  .about {
    height: 100vh;
  }
  .about_container {
    height: fit-content;
    width: 100vw;
    &.dark {
      width: 100vw;
    }
  }

  .about_content {
    height: fit-content;
    width: 100vw;


  }

  .about_text {
    width: 85vw;

    &.header {
      display: flex;
      justify-content: center;
    }

    &.content {
      justify-content: center;
      align-items: center;
    }
  }
}