@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


/*HOME*/
.home_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: steelblue;
  background-color: #edf2f8;
  font-size: large;
  transition: background 1s;

  &.dark {
    transition: background 1s;
    background-color: #181818;
    color: #ffffff;
  }

}

.home_text {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border-radius: 1%;
  align-items: flex-start;
  transition: background 1s;
  // border: solid;

  &.dark {
    transition: background 1s;
    color: white;
    // background-color: #3b444b;
  }

  &.subheader {
    // color:#e0e5eb;
    color:steelblue;
    height: fit-content;
  }

  &.header {
    // color:#e0e5eb;
    color:steelblue;
    font-weight: 800;
    // font-size: 3.41vw;
    font-size: 3vw;
    // text-shadow: rgba(0, 0, 0, 0.35) 0px 2.5px 7.5px;
    height: 18vh;
    font-family:'SF Pro Display', sans-serif;
    display: flex;
    justify-content: center;
    transition: 1s;

    &:hover {
      transform: scale(1.1);
      color: #9eb0c7;
      transition: 1s;
    }
    @media (max-width: 1220px) {
      font-size: 5vh
    }
  }

  &.content {
    color:rgb(178, 190, 181);
    // color:#e0e5eb;
    // color:rgb(136, 161, 181);
    width: 80%
  }

  &.btn {
    background-color: #edf2f8;
    // color: #e0e5eb;
    color:steelblue;
    margin-top: 1em;
    border: solid;
    height: 3em;
    width: 12em;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 1s;
    cursor: pointer;

    &:hover {
      background-color: steelblue;
      color: white;
      transition: 1s;
    }

    &.dark {
      transition: background 1s;
      background-color: #181818;
      transition: 1s;

      &:hover {
        color: white;
        transition: 1s;
      }

    }
  }

}

@media screen and (max-width: 450px) {

  .home_text {
    width: 90vw;

    &.header {
      width: 85vw;
      height: 18vh;
    }

    &.content {
      width: 100%;
    }
  }

  .home_assets {
    height: auto;
    width: 60vw;

    &.circ1 {
      height: 15vw;
      width: 15vw;
      border-radius: 7.5vw;
    }

    &.circ2 {
      height: 22.5vw;
      width: 22.5vw;
      border-radius: 11.25vw;
    }

    &.circ3 {
      height: 30vw;
      width: 30vw;
      border-radius: 15vw;
    }
  }

}