/*NAVBAR*/

.navbar {
  height: 10vh;
  width: 100vw;
  align-items: center;
  position: relative;
  transition: background 1s;
  align-self: flex-start;
  z-index: 4;
  font-weight : 100 !important;

  &.dark{
    transition: background 1s;
    background-image: none;
    background-color: #181818;
  }

  &.mobile {
    height: 100vh;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    transition: background 1s;
    z-index: 4;

    &.dark{
      transition: background 1s;
      background-color: #1d1d1d;
      background-image: none;
    }

  }

}

#name {
  justify-self: start;
  display: flex;
  align-items: center;
  margin: 15px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

  a {
    text-decoration: none;
  }

  &.mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-size: 3vh;

    &.entry {
      &.dark {

      }
    }
  }
}

.nav-buttons {

  &.dark {
    & h3 {
     height: 3em;
     margin: 0;

      &:hover {
        background-color: #ffffff;
        color: #000000;
        box-shadow: none;
      }
    }
  }

  & h3 {
    color: steelblue;
    font-weight: 100;
    height: 3em;
    margin: 0;
    cursor: pointer;
    width: 10vw;
    justify-content: center;
    align-items: center;
    display: flex;

    &:hover {
      background-color: rgba(137, 196, 244, 0.35);
      box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
      color: white;
    }
  }

}

.navbar_resume {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: steelblue;
  border: solid steelblue;
  border-radius: 0.25em;
  transition: 1s;
  margin: .5em;

  &:hover {
    background-color: steelblue;
    color: #ffffff;
    transition: 1s;
  }

  &.dark {

  &:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border: solid #fff;
    transition: 1s;
   }
  }

}

.navbar_themebutton {
  border: none;
  height: 5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  margin: 0.5;
  background: none;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
}

.navbar_themebutton img {
  height: 100%;
  width: 100%;
}

.navbar_logo {
  height: 20vh;
  width: 100%
}


/*special conditions to resize elements based on screen size*/

@media screen and (max-width: 700px) {

  .nav-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .nav-buttons h3 {
    margin: 5px;
    font-size: 15px;
  }

}


@media (max-width: 1000px) {

  .navbar {
    flex-direction: row;
    width: 100vw;
    height: 10vh;
  }

  .nav-buttons {
    flex-direction: row;
  }
}

  .navbar_pulldown {
    height: 6vh;
    width: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: .5em;
    position: fixed;
    color: steelblue;
    cursor: pointer;
    top: 1%;
    right: 2.5%;
    z-index: 9;
  }


  .navbar_pulldown_bar {
    background-color: steelblue;
    width: 3vh;
    height: .25em;
    border-radius: .1em;
    margin: 3px;
  }
