/*NAVBAR*/

.navbar {
  height: 10vh;
  width: 100vw;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: flex-end;
  transition: background 1s;
  z-index: 4;
  font-weight : 100 !important;
  background-color: #edf2f8;

  &.dark{
    transition: background 1s;
    background-image: none;
    background-color: #181818;
  }

  &.mobile {
    height: 100vh;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    transition: background 1s;
    z-index: 4;

    &.dark{
      transition: background 1s;
      background-color: #1d1d1d;
      background-image: none;
    }

  }

}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }

  &.mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-size: 3vh;
  }
}

.nav-buttons {

   & h3 {
    color: steelblue;
    font-weight: 100;
    cursor: pointer;
    margin: 1em;

    &:hover {
      color: lightgrey;
      transform: scale(1.2);
      transition: .5s;
    }
  }


}

.navbar_resume {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: steelblue;
  border: solid steelblue;
  border-radius: 0.25em;
  transition: 1s;
  margin: .5em;

  &:hover {
    background-color: steelblue;
    color: #ffffff;
    transition: 1s;
  }

  &.dark {

  &:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border: solid #fff;
    transition: 1s;
   }
  }

}

.navbar_themebutton {
  border: none;
  height: 5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  margin: 1em;
  background: none;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
}

.navbar_themebutton img {
  height: 100%;
  width: 100%;
}

.navbar_logo {
  height: 20vh;
  width: 100%
}


/*special conditions to resize elements based on screen size*/


  .navbar_pulldown {
    height: 6vh;
    width: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: .5em;
    position: fixed;
    color: steelblue;
    cursor: pointer;
    top: 1%;
    right: 2.5%;
    z-index: 9;
  }


  .navbar_pulldown_bar {
    background-color: steelblue;
    width: 3vh;
    height: .25em;
    border-radius: .1em;
    margin: 3px;
  }
