/*PROJECTS*/

.projects_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #edf2f8;
  color:steelblue;
  transition: background 1s;

  &.dark {
    transition: background 1s;
    background-color: #181818;
  }
}


.projects_categories {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;

  &.card {
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    margin: 1em;
    font-weight: 600;
    font-size: .75em;
    border-radius: .25em;
    transition: all 1s ease;

    &:hover {
      background-color: steelblue;
      color: #ffffff;
      transition: all 1s ease;
      cursor: pointer;
    }

    &.dark {
      color: #ffffff;
      background-color: #1d1d1d;
      transition: background 1s ease;

      &:hover {
        background-color: #ffffff;
        color: #1d1d1d;
        transition: all 1s ease;
        cursor: pointer;
      }

    }

  }
}

.projects_grid {

  &.container {
    display: grid;
    width: 100vw;
    grid-auto-rows: 12px;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
  }

  &.card {
    grid-column-end: span 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    opacity: 1;
    background-color: #ffffff;
    border-radius: .5em;
    transition: all 1s ease;

    &:hover{
      // opacity: 1;
      transform: scale(1.1);
      transition: 1s ease;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, .5)
    }

    &.dark {
      color: #ffffff;
      background-color: #1d1d1d;
      transition: all 1s ease;

      &:hover {
        background-color: #36454F;
      }
    }
  }

    &.text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid rgb(233, 235, 238);
    border-right: 1px solid rgb(233, 235, 238);
    border-bottom: 1px solid rgb(233, 235, 238);
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;

    &.dark {
      background-color: #1d1d1d;
      border-left: 1px solid rgb(40, 40, 40);
      border-right: 1px solid rgb(40, 40, 40);
      border-bottom: 1px solid rgb(40, 40, 40);
    }

    &.summary{
      font-weight: 100;
      font-size: 80%;
      color: gray;
      border: 10px;
      width: 80%
    }
  }

   &.card_shadow {
    opacity: 0;
    position: absolute;
    z-index: 3;
    height: 65%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    color: #ffffff;

  }

  &.card_shadow:hover {
    opacity: 1;
  }

    &.card_shadow_wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: none;

      & p{
        margin: 1em;
      }

      &.icon {
        cursor: pointer;
        height: 3em;
      }
    }

    &.img_container {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    width: 100%;
    height: 65%;
    min-height: 65%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    background-color: rgb(224 231 237);
    object-fit: contain;

      &.img{
        border-radius: 1em;
        max-width: 50%;
        max-height: 70%;
        margin: 0;
      }

      &.desc {
        background-color: #ffffff;
        position: absolute;
        justify-self: center;
        align-self: flex-end;
        height: fit-content;
        width: fit-content;
        padding: .3em;
        margin: 0;
        z-index: 3;
        border-radius: .25em .25em 0 0;
        color: gray;
        &.dark {
          background-color: #1d1d1d;
        }
      }

    }

  &.img{
    border-radius: 1em;
    width: 90%;
    height: 95%;
    margin: 5%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.tech_stack {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    &.img {
      height: 1em;
      max-width: fit-content;
      margin: .25em;
      border-radius: 0;
    }

  }

}

.projects_gallery-modal {
  position: absolute;
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(5vw);
  z-index: 3;

}

.projects_gallery-modal_background {
  background-color: rgba(0, 0, 0, 0.5);
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects_gallery-modal_card {
  height: fit-content;
  width: 70vw;
  background-color: #ffffff;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.img {
    height: 80vh;
    width: 70vw;
  }
}


@media screen and (max-width: 1000px) {

  .projects_container {
    height: fit-content;
  }

}


@media screen and (max-width: 450px) {

  .projects {
    height: auto;
    justify-content: initial;
    align-items: initial;
  }
  .projects_container {
    height: auto;

    &.header {
      width: 90vw;
      height: 18vh;
      display: flex;
      align-items: center;
      color:steelblue;
      font-weight: 800;
      font-size: 5.5vh;
    }
  }

  .projects_categories {
    width: 90vw;
  }

  .projects_grid {
    &.container {
      height: auto;
    }

  }

  .projects_gallery-modal {
    transform: translate(0, 0);
    width: 100vw;
  }

  .projects_gallery-modal_background {
    flex-direction: column;
  }

  .projects_gallery-modal_card {
    &.img {
      height: 50vh;
      width: 90vw;
    }
  }
}
