.svg_icons {

  &.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 10vh;
    z-index: 4;

    &.mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }
  }

  &.entry {
    width: 5vw;
    transition: 1s ease;

    &:hover {
      transform: scale(1.2);
      transition: 1s ease;
    }

    &.dark {

    }


    &.mobile {
      transition: 1s ease;
      border: none;

      &:hover {
        transform: scale(1.2);
        transition: 1s ease;
      }

      &.dark {
        border: none;
      }

    }
  }

}

.contact_svg {
  &.entry {
    margin: 2%;
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .svg_icons {

    &.container {
      flex-direction: row;
      margin-top: 0%;
    }

    &.entry {
      border-top: none;
      border-left: solid 1px #edf2f8;

      &:hover {
        transform: scale(1.2);
        transition: 1s ease;
      }

      &.dark {
        border-left: solid 1px #9eb0c7;
        border-top: none;
      }

    }

  }
}