.terminal {
    height: 400px;
    width: 600px;
    background-color: #271f1fd9;
    position: absolute;
    z-index: 5;
    border-radius: 10px;
    color: white
}

.terminal_text {
    background-color: #271f1fd9;
    color: #fff;
    border: none
}