@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@import './__home.scss';
@import './__navbar.scss';
@import './__about.scss';
@import './__projects.scss';
@import './__email.scss';
@import './__contact.scss';
@import './__experience.scss';
@import'./__svgicons.scss';

@import'./mobile/mobile_styles.scss';

html {
  background-color: #edf2f8;
}

body {
  /* background-image: linear-gradient(white,  #C4A484); */
  margin: 0;
  height: 100vh;
}

* {
  /* color: #f2e4d2; */
  /* color: #9eb0c7; */
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: 'SF Pro Display', sans-serif;
  // font-weight: 100;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
}

#border {
  border-top: solid 1px #2A4E6C;
  width: 80%;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#float-button {
  position: fixed;
  right: 3vw;
  top: 40vw;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0.5;
  background-image: url('https://res.cloudinary.com/darp0mj9i/image/upload/v1667693371/icons/home-icon-silhouette-svgrepo-com_tnbczc.svg');
  background-size: 72%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#float-button:hover {
  background-color: rgba(137, 196, 244, 0.35);
  background-image: url('https://res.cloudinary.com/darp0mj9i/image/upload/v1667840705/icons/home-icon-silhouette-svgrepo-com_tnbczc_vtqten.svg');
}

/*FOOTERS*/

#footer {
  margin: 0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/*special conditions to resize elements based on screen size*/
@media screen and (max-width: 700px) {

  #name {
    margin: 5px;
    font-size: 15px;
  }

  #about {
    flex-direction: column;
  }

  #icons {
    flex-direction: column;
  }
  #project-card {
    height: 300px;
    width: 300px;
  }

  #project-card h2 {
    margin: 4px 4px 4px 10px;
    /* font-size: 2vw; */
  }
  #project-card p {
    /* font-size: 1vw; */
    margin: 5px;
  }

  #col {
    flex-direction: column;
  }

  #about p {
    max-width: 50%;
    font-size: 18px;
    margin: 30px;
    color: grey;
  }

}