.mobile_about {
  display: flex;
  margin: 0;
  display: flex;
  align-items: center; /* y-axis/cross-axis*/
  height: 100vh;
  width: 100vw;
  background-color: #edf2f8;
  transition: background 1s;
  flex-direction: column;

  &.dark {
    background-color: #181818;
    transition: background 1s;
  }
}

.mobile_about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vw;
  flex-direction: column-reverse;
  background-color: #edf2f8;
  transition: background 1s;

  &.dark {
    transition: background 1s;
    background-color: #181818;
    color: #ffffff
  }

}

.mobile_about_content {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vw;

  a {
    text-decoration: none;
    color: steelblue;
    cursor: pointer;
    transition: all 1s ease;

    &:hover{
      transform: scale(1.3);
      color: #9eb0c7;
      transition: all 1s ease;
      border-bottom: solid;
    }
  }
}

.mobile_about_text {
  margin: 0%;
  width: 85vw;

  &.header {
    font-size: 7vh;
    font-weight: 800;
    color: steelblue;
    transition: 1s;
    display: flex;
    justify-content: center;

    &:hover {
      transform: scale(1.1);
      color: #9eb0c7;
      transition: 1s;
    }

  }

  &.content {
    color:rgb(178, 190, 181);
    font-size: large;
    justify-content: center;
    align-items: center;
  }
}

.tagcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: steelblue
}

.tagcloud--item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white
}


