.mobile_about {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* y-axis/cross-axis*/
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  background-color: #edf2f8;
  transition: background 1s;
  flex-direction: column;

  &.dark {
    background-color: #181818;
    transition: background 1s;
  }
}

.mobile_about_background {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: absolute;
  background-color: #EDF2F8;
  opacity: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.dark {
    background-color: #1d1d1d;
  }
}

.mobile_about_background_img{
  height: 67vh;
  transform: translate(0, -150px);
}

.mobile_about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vw;
  flex-direction: column-reverse;
  transition: background 1s;
  z-index: 3;

  &.dark {
    transition: background 1s;
    color: #ffffff
  }

}

.mobile_about_content {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vw;

  a {
    text-decoration: none;
    color: steelblue;
    cursor: pointer;
    transition: all 1s ease;

    &:hover{
      transform: scale(1.3);
      color: #9eb0c7;
      transition: all 1s ease;
      border-bottom: solid;
    }
  }
}

  .mobile_about_container_badges{
    margin: 5vw;
    padding: 5vw;
    background-color: #fffb;
    border-radius: .25em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75vw;
    & img {
      margin: 0.25em;
    }
    &.dark {
      background-color: #000b;
    }
  }

.mobile_about_text {
  width: 85vw;

  &.header {
    font-weight: 800;
    color: steelblue;
    transition: 1s;
    display: flex;
    justify-content: center;

    &:hover {
      transform: scale(1.1);
      color: #9eb0c7;
      transition: 1s;
    }

  }

  &.content {
    color:rgb(178, 190, 181);
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fffb;
    border-radius: .5em;
    & p {
      margin: 1em;
    }

    &.dark {
      background: #000b;
    }
  }
}

.tagcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: steelblue
}

.tagcloud--item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white
}


