@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@import './mobile__home.scss';
@import './mobile__laptop.scss';
@import './mobile__about.scss';
@import './mobile__projects.scss';
@import 'mobile__contact.scss';