@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


.mobile_home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
}

.mobile_home_background {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: absolute;
  background-color: #EDF2F8;
  opacity: 35%;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_home_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column-reverse;
  height: 100vh;
  color: #9eb0c7;
  background-color: #edf2f8;
  font-size: large;
  transition: background 1s;

  &.dark {
    transition: background 1s;
    background-color: #181818;
    color: #ffffff;
  }
}

.mobile_home_text {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
  align-items: center;
  transition: background 1s;


  &.dark {
    transition: background 1s;
    color: white;
  }

  &.header {
    color:steelblue;
    font-weight: 800;
    font-family:'SF Pro Display', sans-serif;
    display: flex;
    justify-content: center;
    transition: 1s;
    font-size: 4vh;
    width: 85vw;
    height: 18vh;

    &:hover {
      transform: scale(1.1);
      color: #9eb0c7;
      transition: 1s;
    }
  }

  &.content {
    color:rgb(178, 190, 181);
    margin: 1em;
    width: 100%;
  }

  &.btn {
    background-color: #edf2f8;
    // color: #e0e5eb;
    color:steelblue;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid;
    height: 3em;
    width: 12em;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 1s;
    cursor: pointer;

    &:hover {
      background-color: steelblue;
      color: white;
      transition: 1s;
    }

    &.dark {
      transition: background 1s;
      background-color: #181818;
      transition: 1s;

      &:hover {
        color: white;
        transition: 1s;
      }

    }
  }

}

